.parent-addbike {
  background: url("../assets/4919.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  margin-left: 30px;
  width: 1100px;
}

.container-addbike {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #fff;
  width: 1100px;
  height: 800px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 20px;
  backdrop-filter: blur(5px);
}

.column {
  position: relative;
  justify-content: space-evenly;
  /* align-items: start; */
  float: left;
  width: 33%;
}

/* Clear floats after the columns */

.container-addbike .form-box-addbike {
  width: 100%;
  padding: 40px;
}

.form-box-addbike h2 {
  font-size: 2em;
  color: #ffffff;
  text-align: center;
}

.input-box {
  position: relative;
  width: 250px;
  height: 50px;
  border-bottom: 2px solid #ffffff;
  margin: 40px;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #ffffff;
  font-weight: 500;
  pointer-events: none;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  color: #ffffff;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-group {
  position: relative;
  width: 250px;
  height: 50px;
  border-bottom: 2px solid #ffffff;
  margin: 40px;
  color: #fff;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
  top: -5px;
}

.input-group select {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 35px 0 5px;
  color: #fff;
}

.bttn {
  position: relative;
  top: 200px;
  left: 100px;
  width: 200px;
  height: 70px;
  border-radius: 15px;
  color: rgba(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.1);
  border-color: #fff;
}
