.bodyy {
  background-image: url("../assets/Bike_background.jpg");
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: inherit;
}

.bike-description {
  position: relative;
  left: -630px;
  /* margin-top: 20px;
  margin-bottom: 20px; */
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
}

.desc {
  color: #000000;
}

.buttons {
  text-align: center;
  /* Align buttons to the right */
}

.button {
  position: relative;
  top: 500px;
  left: -250px;
  padding: 20px 30px;
  background-color: rgb(255, 255, 255);
  color: #c22222;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 25px;
}

.buttons button {
  margin-right: 150px;
}

.bike-details {
  background-color: rgba(0, 0, 0, 0.6);
  border-style: solid;
  position: relative;
  top: 750px;
  left: -400px;
  height: 700px;
  width: 800px;
  margin-top: 10px;
  /* text-align: center; */
  /* align-content: center; */
  /* align-items: center; */
  /* align-self: center; */
  /* text-align: center; */
  border-style: dotted;
}

.bike-details table {
  border-collapse: collapse;
  width: 100%;
  border: none;
  /* Remove table border */
}

.bike-details table th,
.bike-details table td {
  padding: 6px;
  border: none;
  /* Remove table cell borders */
}

.bike-details table th {
  font-weight: bold;
  color: #ffffff;
}
.bike-details table td {
  color: #ffffff;
}

.bike-header {
  font-weight: bold;
  position: relative;
  top: -630px;
  left: 50px;
  font-size: 40px;
  text-align: center;
  margin-top: 0;
  width: 1500px;
}
.bikeimages {
  display: block;
  height: 100vh;
}
