.bodyy {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  scroll-behavior: smooth;
}

.bike-description {
  border-style: dashed;
  position: relative;
  top: -350px;
  left: 10px;
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
}

.desc {
  color: #ffffff;
}

.buttons-det {
  text-align: center;
  /* Align buttons to the right */
}

.button-det {
  position: relative;
  top: 0px;
  right: 70px;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  color: #c22222;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 25px;
}

.buttons-det button {
  margin-right: 50px;
}

.bike-details {
  background-color: rgba(0, 0, 0, 0.6);
  border-style: solid;
  position: relative;
  top: 10px;
  left: 750px;
  height: 700px;
  width: 650px;
  margin-top: 10px;
  /* text-align: center; */
  /* align-content: center; */
  /* align-items: center; */
  /* align-self: center; */
  /* text-align: center; */
  border-style: dotted;
}

.bike-details table {
  border-collapse: collapse;
  width: 100%;
  border: none;
  /* Remove table border */
}

.bike-details table th,
.bike-details table td {
  padding: 6px;
  border: none;
  /* Remove table cell borders */
}

.bike-details table th {
  font-weight: bold;
  color: #ffffff;
}

.bike-details table td {
  color: #ffffff;
}

.bike-header {
  font-weight: bold;
  position: relative;
  top: -700px;
  left: 50px;
  font-size: 40px;
  text-align: center;
  margin-top: 0;
  width: 1500px;
}

.bikeimages {
  background-color: #000000;
  display: block;
  height: 50vh;
  width: 100vw;
}

.bikeimg {
  background-image: url("../assets/Bike_background.jpg");
  display: block;
  height: 100vh;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.slide-image {
  animation: slideInFromLeft 1.5s ease-out;
}

.carousel-section {
  background-color: #000000;
  display: block;
  overflow: hidden;
  height: 80vh;
  width: 100vw;
}

.bike-carousel {
  position: relative;
  left: 150px;
  width: 1200px;
}