.grid-container {
  display: flex;
  min-height: 80vh;
  flex-direction: row;
}

.filter-container {
  display: block;
  justify-content: center;
  align-items: center;
  width: 20%;
  background-color: #212121;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  margin-bottom: 40px;
  margin-top: 10px;
  border-radius: 20px;
}

.filter-tabs {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.filter-tabs button {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149cea;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 20px;
}

.filter-tabs button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #212121;
  transition: 0.5s;
  transform-origin: center;
}

.filter-tabs button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #212121;
  transition: 0.5s;
}

.filter-tabs button:hover::before,
.filter-tabs button:hover::after {
  transform: scale(0);
}

.filter-tabs button:hover {
  box-shadow: inset 0px 0px 25px #1479ea;
}

.image-grid {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(204, 255, 235, 1) 0%,
    rgba(0, 0, 0, 1) 0%
  );
  justify-content: center;
  width: 55%;
  flex-grow: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  min-height: fit-content;
}

.bike-card {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  font-weight: lighter;
  font-size: small;
  width: 250px;
  margin: 15px;
  height: 150px;
  border: 1px solid goldenrod;
  padding: 10px;
  text-align: center;
  color: red;
  border-radius: 15px;
  flex: 0 0 calc(33.33% - 10px);
}

.bike-info {
  height: 50px;
  width: 100%;
  font-size: medium;
  font-weight: bold;
  position: absolute;
  background-color: rgba(15, 14, 14, 0.8);
  bottom: 0;
  left: 0;
  text-align: center;
  color: red;
  opacity: 0;
  color: aliceblue;
  box-sizing: border-box;
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
}

.bike-card:hover .bike-image img {
  transform: scale(1.2);
}

.bike-card:hover .bike-info {
  opacity: 1;
}

.bike-card:hover .bike-info {
  transform: translateY(0);
}
