.container-pay {
  position: relative;
  width: 800px;
  max-width: 900px;
  padding: 30px;
  margin: 0 350px;
  background-color: white;
  justify-content: center;
  border-radius: 6px;
}

.container-pay form {
  position: relative;
  min-height: 490px;
  background-color: white;
  background-size: 542px;
  background-position: center;
  margin-top: 70px;
}

.container-pay form .details {
  margin-top: 80px;
}

.fields-pay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-field-pay label {
  display: block;
  font-size: 16px;
  font-style: bold;
  font-weight: 500;
  color: black;
  margin-left: 20px;
  justify-content: center;
}

.input-field-pay input {
  font-size: 14px;
  font-weight: 400;
  color: black;
  outline: none;
  padding: 0 15px;
  height: 50px;
  margin: 25px 0;
  size: 100px;
}

.input-field-pay input[type="date"]:valid {
  color: black;
}

/* h1 {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  color: black;
}
h1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 27px;
  background-color: #4070f4;
} 

.button[type="submit"] {
  display: block;
  width: 100px;
  margin: auto;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  background-color: red;
  color: white;
}

p {
  text-align: center;
  color: black;
}
*/