* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  width: 800px;
  max-width: 900px;
  padding: 30px;
  margin: 0 350px;
  border-radius: 6px;
  box-shadow: 0 5px 10px black;
  background-color: white;
  justify-content: center;
}

.container header {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.container form {
  position: relative;
  min-height: 490px;
  background-color: whitesmoke;
  background-size: 542px;
  background-position: center ;
  margin-top: 16px;
  justify-content: space-between;
}

.container form .details {
  margin-top: 30px;
}

.fields {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  flex-wrap: wrap;
  
}

.input-field label {
  display: block;
  font-size: 16px;
  font-style: bold;
  font-weight: 500;
  color: black;
  margin-left: 20px;
  justify-content: center;
}

.input-field input {
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
  border: 3px solid black;
  color: black;
  outline: none;
  padding: 0 15px;
  height: 50px;
  margin: 25px 0;
  size: 100px;
}

.input-field input:is(:focus, :valid) {
  box-shadow: 0 3px 6px black;

}

.input-field input[type="date"]:valid {
  color: black;
}

h1{
  text-align: center;
  color: black;
  border-style: groove;

 }

 button[type="submit"] {
  display: block;
  width: 100px;
  margin: auto;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  background-color: red;

  color: white;
  border-radius: 20%;
 }
 p{
  text-align: center;
  color: black;
 }




