@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.error-message {
  color: red;
  /* Add any other styling you want for the error message */
}

.main-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: url("../assets/underground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.box-signin {
  position: relative;
  width: 380px;
  height: 420px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}

.box-signin::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.box-signin::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

.borderLine-signin {
  position: absolute;
  top: 0;
  inset: 0;
}

.borderLine-signin::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #ff2770,
    #ff2770,
    #ff2770
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -1.5s;
}

.borderLine-signin::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #ff2770,
    #ff2770,
    #ff2770
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -4.5s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.box-signin form {
  position: absolute;
  inset: 4px;
  background: #222;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.box-signin form h2 {
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}

.box-signin form .inputBox-signin {
  position: relative;
  width: 300px;
  margin-top: 35px;
}

.box-signin form .inputBox-signin input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.box-signin form .inputBox-signin span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  pointer-events: none;
  color: #8f8f8f;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.box-signin form .inputBox-signin input:valid ~ span,
.box-signin form .inputBox-signin input:focus ~ span {
  color: #fff;
  font-size: 0.75em;
  transform: translateY(-34px);
}

.box-signin form .inputBox-signin i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
}

.box-signin form .inputBox-signin input:valid ~ i,
.box-signin form .inputBox-signin input:focus ~ i {
  height: 42px;
}

.box-signin form .links-signin {
  margin: 10px 0;
  font-size: 0.75em;
  color: #8f8f8f;
  text-decoration: none;
}

.box-signin form .links-signin Link:hover,
.box-signin form .links-signin Link:nth-child(2) {
  color: #fff;
}

.box-signin form input[type="submit"] {
  border: none;
  outline: none;
  background: #fff;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 4px;
  font-weight: 600;
  width: 100px;
  margin-top: 10px;
}

.box-signin form input[type="submit"]:active {
  opacity: 0.8;
}

.signup-signin {
  padding-left: 57px;
}

.login-signin {
  margin-left: 35%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.beforebutton-signin {
  padding-bottom: 20px;
}

.links-signin {
  padding-top: 20px;
}
