.maincontent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label{
    padding-right: 15px;
}

input[type="submit"]{
    font-weight: 600;
    width: auto;
    padding: 5px 100px 5px 100px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

tr{
    text-align: left;
    padding: 20px;
}

td{
    padding: 20px;
}

select{
    padding-right: 110px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.city{
    padding-right: 132px;
}

.state{
    padding-right: 0;
}

.model{
    padding-right: 118px;
}

.dealer{
    padding-right: 116px;
}

input{
    padding-left: 5px;
    padding-right: 55px;
    padding-top: 8px;
    padding-bottom: 8px;
}

textarea{
    padding-right: 11px;
    padding-left: 5px;
}

span{
    color: red;
}

.tickboxlabel{
    padding: 0;
    margin-left: 50px;
}

.tickbox{
    color: red;
}