.maincontent {
    position: relative;
    top: 20%;
    height: fit-content;
    min-height: 80vh;
    background-image: url("../assets/4919.jpg");
    background-size: cover;
    color: #fff;
}

.label-testride {
    padding-right: 15px;
}

.input-testride[type="submit"] {
    font-weight: 600;
    width: auto;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 150px;
    background-color: greenyellow;
    color: #fff;
}

.input-testride[type="submit"]:hover {
    font-weight: 600;
    width: auto;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 150px;
    background-color: black;
}

.input-testride[type="reset"] {
    font-weight: 600;
    width: auto;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 150px;
    background-color: red;
    color: #fff;
}

.input-testride[type="reset"]:hover {
    font-weight: 600;
    width: auto;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 150px;
    background-color: black;
}

.tr-testride {
    text-align: center;
    padding: 20px;
}

.td-testride,
.submitbtn,
.resetbtn {
    padding: 20px;
}

.city,
.dealer,
.model,
.state {
    padding-right: 110px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.city {
    padding-right: 100px;
}

.state {
    padding-right: 0;
}

.model {
    padding-right: 150px;
}

.dealer {
    padding-right: 116px;
}

.input-testride {
    padding-left: 5px;
    padding-right: 55px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.textarea-testride {
    padding-right: 11px;
    padding-left: 5px;
}

.span-testride {
    color: red;
}

.tickboxlabel {
    padding: 0;
    margin-left: 50px;
}

.tickbox {
    color: red;
    padding-right: 15px;
}

.tr-terms-box {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.col1-testride{
    display: flex;
    float: left;
    flex-direction: column;
    width: 50%;
    padding-left: 300px;
}

.col2-testride{
    display: flex;
    float: right;
    flex-direction: column;
    width: 50%;
    padding-left: 100px;
}

.row-testride{
    display: flex;
    flex-direction: row;
    position: relative;
}

.btn-testride{
    display: flex;
    flex-direction: column;
    width: 50%;
}