@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* CSS for header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
}

.header .logo {
    font-size: 25px;
    font-family: 'Sriracha', cursive;
    color: #000;
    text-decoration: none;
    margin-left: 30px;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5;
    margin-right: 20px;

}

.nav-items a {
    text-decoration: none;
    color: #000;
    padding: 20px 20px;
}

.sign {
    color: tomato;
}