@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

.page {
    margin: 0;
    background-color: transparent;
}


header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black !important;
}

.header .logo {
    font-size: 25px;
    font-family: 'Sriracha', cursive;
    color: white;
    text-decoration: none;
    margin-left: 30px;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    margin-right: 20px;

}

.nav-items a {
    text-decoration: none;
    color: #fff;
    padding: 20px 20px;
}

.leftnav:hover,
.sign:hover {
    text-decoration: underline;
}

.sign {
    color: tomato;
}

.body {
    min-height: 100%;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 10px;
    min-height: 10vh;
}

.footer-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icon svg {
    font-size: 24px;
    margin-bottom: 5px;
}

.footer-icon span {
    font-size: 12px;
}

.overlay-content {
    margin-top: 20%;
    margin-left: 70%;
    color: white;
}

.buttons-in {
    padding: 10px;
    margin-right: 10px;
}

button {
    margin-right: 10px;
    /* Add space to the right of each button */
}