body {
    background: linear-gradient(180deg, #000, #222);
    margin: 0;
    font-family: Arial, sans-serif;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.image:hover {
    transform: scale(1.1);
}

.message-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: 'Arial', sans-serif;
    /* Change the font for the message box text */
}

.image-container:hover .message-box {
    opacity: 1;
}

.image-container a {
    text-decoration: none;
}